# 全てのファイルを管理対象外にする
/*
/.**

# 管理するファイルのみ管理対象に加える
!.config/
!.config/brew/
!.config/brew/.Brewfile
!.config/gh/
!.config/gh/config.yml
!.config/git/
!.config/git/config
!.config/git/ignore
!.config/starship.toml
!.gitignore
!.zshrc
!install.sh
!LICENSE
!README.md
